body{
    box-sizing: content-box;
    background-color: #dbd6d62e;
}
.nav-item{
    margin:0 25px;
}
h1{
    margin: 20px;
}
.box{
    border: 15px inset #514abe;
    overflow: auto;
}
.box a{
    font-size: 35px;
    font-weight: bold;
}
td a{
    font-weight: bold;
    color: white;
}
i{
    margin-right:10px
}
a{
    text-decoration: none;
}
.big-circle{
    position: absolute;
    top:0;
    right:0;
    z-index:-1;
    opacity: 0.4;
    height:85%
}
.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    height: 60%;
    opacity: 0.4;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}
#box2 ,#box3{
    visibility: hidden;
}