{% extends "Aindex.html" %}
{% block main %}
<div class="container">
    <h1 class="text-center">Complains</h1>
    <table class="table table-dark table-stripped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Complian</th>
        </tr>
        </thead>
        <tbody>
        {% for complain in complains_data %}
        <tr>
            <td>{{complain.0}}</td>
            <td>{{complain.1}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        
{% endblock %}