<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/backend.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be14abca77.js" crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('Aindex') }}">Dar Elfoad</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto  mx-auto">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('Aindex') }}">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Adoctor') }}">Doctors</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Apatient') }}">Patients</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Acomplains') }}">Complains</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto  mx-auto">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="signUp.php">SignUp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block main %}
    <div class="container">
        <h1 class="text-center">DashBoard</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="box text-center">
                    <h2>Doctors</h2>
                    <a href="http://127.0.0.1:5000/Adoctor">{{doctors_no}}</a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box text-center">
                    <h2>Patients</h2>
                    <a href="http://127.0.0.1:5000/Apatient">{{p_no}}</a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box text-center">
                    <h2>Complains</h2>
                    <a href="http://127.0.0.1:5000/Acomplains">{{comp_no}}</a>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>